<div class="page-header">
  <h1>Need a Decoy?</h1>
</div>
<p class="lead">
  Of course you do! Signup today.
</p>

<%= link_to user_omniauth_authorize_path(:twitter) do %>
    <!--Here we can make our landing page stuff-->
    <%= raw('<i class="fa fa-twitter"></i> Sign in with Twitter') %>
<% end %>