<h2>Choose a decoy!</h2>

<div class="row">
  <% @decoys.each do |decoy| %>
      <div class="col-xs-6">
        <%= link_to decoy_path(decoy.name.downcase) do %>
            <%= image_tag decoy.image %>
        <% end %>
      </div>
  <% end %>
</div>
